@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

.fadeIn.first { animation-delay: 0s; }
.fadeIn.second { animation-delay: 0.2s; }
.fadeIn.third { animation-delay: 0.4s; }

#loginPage form .progress {
    height: 8px;
}

#loginPage form .progress.visible {
    height: 8px;
}